:root{
    --dark-color:#011627;
    --pink-color:#E63946;
    --light-color:cornsilk;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: cornsilk;
    margin: 50px;
    font-family:"open sans", sans-serif;
    line-height: 35px;
}

.container{
    width: 1152px;
    margin: 0 auto;
}

.hero-wrapper .hero-text h1{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 50px;
    font-weight: normal;
    line-height: 100%;
}

h1{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 40px;
    font-weight: normal;
    line-height: 100%;
}

header{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 30px;
}

nav ul li a{
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-color);
    text-decoration: none;
}

a.btn{
    border-radius: 8px;
    padding: 8px 24px;
    font-weight: bold;
    text-decoration: none;
}

a.btn.light{
    border: 1px solid var(--dark-color);
}

a.btn.light:hover{
    background-color: var(--dark-color);
    color: white;
}

a.btn.dark{
    background-color: var(--dark-color);
    color: white;
    display: inline-block;
    border: 1px solid var(--dark-color);
}

a.btn.dark:hover{
    background-color: var(--light-color);
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
}


.hero-wrapper{
    display: flex;
    align-items: center;
    height: calc(100vh- 99.5px);
}

.hero-wrapper .hero-image{
    margin-bottom: 200px;
}

.hero-wrapper .hero-text{
    width: 500px;
    margin-left: 50px;
}

.hero-wrapper .hero-text p.subheading{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 500px;
}

.main-wrapper{
    display: flex;
    margin: 0 auto;
    padding: 0 50px;
}

.main-text ul{
    list-style: none;
}

.main-text ul li{
    margin: 5px;
    font-size: 20px;
}

.main-text ul li b{
    font-size: 20px;
}

.main-btn {
    margin-top: 20px;
    margin-bottom: 200px;
}

.main-btn .order{
        border-radius: 8px;
        padding: 8px 24px;
        font-weight: bold;
        text-decoration: none;
}

.main-btn .btn1{
    margin-right: 10px;
    font-size: 18px;
    background-color:#FFE344;
    color: var(--dark-color);
    display: inline-block;
    border: 1px solid #FFE344;
    text-decoration: none;
}

.main-btn .btn1:hover{
    background-color: var(--light-color);
    border: 1px solid #FFE344;
    color:var(--dark-color);
}

.main-btn .btn2{
    margin-right: 10px;
    font-size: 18px;
    background-color:#3C854E;
    color: white;
    display: inline-block;
    border: 1px solid #3C854E;
    text-decoration: none;

}

.main-btn .btn2:hover{
    background-color: var(--light-color);
    border: 1px solid #3C854E;
    color:#3C854E;
}

.main-btn .btn3{
    font-size: 18px;
    background-color:#B22E60;
    color: white;
    display: inline-block;
    border: 1px solid #B22E60;
    text-decoration: none;

}

.main-btn .btn3:hover{
    background-color: var(--light-color);
    border: 1px solid #B22E60;
    color :#B22E60;
}

.main-image{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
}

.menu{
    display: flex;
}

.menu-pizza{
    font-size: 16px;
    margin: 20px 0 50px 10px;
}

footer{
    margin-top: 50px;
    text-align: center;
}

footer p{
    margin:0
}

footer a{
    color:var(--pink-color);
}

footer a:hover{
    opacity: 0.5;
    background-color: transparent;
}